In [14]:
import pandas as pd

In [26]:
vendas_df = pd.read_csv( r'Contoso - Vendas - 2017.csv', sep=';')

In [29]:
vendas_df[['ID Produto', 'Quantidade Vendida']]

        ID Produto  Quantidade Vendida
0              981                   9
1             1586                   9
2             1444                  13
3             1468                   6
4             1106                   4
...            ...                 ...
980637        2490                 120
980638        2488                 120
980639        2511                  80
980640         436                  39
980641        2510                  80

[980642 rows x 2 columns]

In [30]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980642 entries, 0 to 980641
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Numero da Venda       980642 non-null  int64
 1   Data da Venda         980642 non-null  object
 2   Data do Envio         980642 non-null  object
 3   ID Canal              980642 non-null  int64
 4   ID Loja               980642 non-null  int64
 5   ID Produto            980642 non-null  int64
 6   ID Promocao           980642 non-null  int64
 7   ID Cliente            980642 non-null  int64
 8   Quantidade Vendida    980642 non-null  int64
 9   Quantidade Devolvida  980642 non-null  int64
dtypes: int64(8), object(2)
memory usage: 74.8+ MB

Criando uma lista de cliente

In [34]:
lista_cliente = vendas_df['ID Cliente']
lista_cliente

0          6825
1         18469
2         19730
3         29326
4         22617
          ...
980637    10353
980638    31750
980639    12003
980640    25550
980641    28707
Name: ID Cliente, Length: 980642, dtype: int64

In [36]:
produto_qt = vendas_df[['Quantidade Vendida', 'Quantidade Vendida','ID Produto']]
produto_qt

        Quantidade Vendida  Quantidade Vendida  ID Produto
0                        9                   9         981
1                        9                   9        1586
2                       13                  13        1444
3                        6                   6        1468
4                        4                   4        1106
...                    ...                 ...         ...
980637                 120                 120        2490
980638                 120                 120        2488
980639                  80                  80        2511
980640                  39                  39         436
980641                  80                  80        2510

[980642 rows x 3 columns]